<!--<!DOCTYPE html>
<html>
<head>
	<title>My Web App</title>
</head>
<body>
	<h1>Welcome to my web app!</h1>
	<img src="img/winteriscoming.jpg" />

	<br>
	<a href="/">Home</a> |
	<a href="/about">About</a>
</body>
</html>-->
<!DOCTYPE html>
<html>
<head>
	<title>Jasper Napalit</title>
</head>
<body background ="Background.jpg" ,>
	<font size="5" , color="White">
	Questions<br>

	1. What is Search Engine Optimation
	<p>SEO stands for “search engine optimization.” <br>It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results
	on search engines.<br> In general, the earlier (or higher ranked on the search results page), and more frequently a site appears in the search results list,<br>the more visitors it will receive from the search engine's users; these visitors can then be converted into customers.</p>
   2. Guidelines on how to read a Search Engine Results Page.
   <p> Quality content is, of course, very important.<br>
   Work to be an expert, authority, and trustworthy in your industry.<br>
   Online and offline reputation will impact your ranking.<br>
   Your website does not need to include all of the latest bells and whistles, but should be functional. Make it easy for users to find the information that they’re looking for.<br>
   YMYL pages are viewed more critically.<br>
   Include good supplemental content on your site.<br>
   Ads are okay as long as they do not disrupt the user experience, or distract from the main content.<br>
   Make sure your website is mobile-friendly.<br>
   Check for broken links.<br>
   Prevent or remove spam comments.<br>
   Add fresh content to your website.<br>
   Update stale or out-of-date content.<br>
   Collect positive customer reviews.<br>
   Make sure your contact information is available on your website.<br>
   Answer common user queries concisely, at the beginning of your article, and use structured data markup on your webpages.</p>

	3. How SEO affects Business
	<p>If you are in business, there are some very real and specific to having a consistent ongoing Search Engine Optimization strategy.<br> For the first time in history of marketing, users are offering up their actual intent through the words that they type into search engines.<br> And more than ever before, you can measure the result of your SEO efforts as a marketing channel. While search engines dont charge you for listing your web pages, planning and implementing SEO in your organization is certainly not free.<br> You'll ned to spend the time, money, and resources to do this the right way.</p>
	<p>The good news is that this can help you obtain a tremendous marketing reach, attract more targeted visitors, and measure the impact of your efforts in terms of a return on your investment.<br> More and more content appears on the web every second of everyday.<br> And your costumers need search engines to help make sense of it all.<br> In fact, the bigger the web gets, the more search engines usage continues to grow.<br> People search to find answers to their questions.</p>
	4. List some important SEO expectation
	*Set realistic goals<br>
   *Measure the right thing<br>
   *Set a baseline<br>
   *Pulling it together
	</font>
</body>
</html>
